<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Example App</title>
</head>
<body>

    <div class="min-h-screen w-full h-full bg-[#F3F3F3]">
        {{{body}}}
    </div>

</body>
</html>